/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    user-select: none;   /* Disables text highlighting. Individually removed later for to-do items */
}
body,html {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
}

#outer-cont {
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}
/* PAGE 1: LANDING PAGE */
    #landing-cont {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: repeat(4, 70px);
        gap: 10px;
        justify-items: center;
        align-items: center;
    }

/* PAGE 2: BUILD YOUR BOARD */
    #build-cont {
        display: grid;
        grid-template-rows: 50px 1fr;
    }
        #prompt-build {
            align-self: center;
            justify-self: center;
            font-size: 1.5em;
        }
        #square-cont {
            display: grid;
            grid-template-columns: repeat(10, 30px);
            grid-template-rows: repeat(10, 30px);
            gap: 3px;
        }
            .square {
                border: 1px solid black;
            }
