@import url(//db.onlinewebfonts.com/c/6c418c270348070b8e5ebbaf78a94917?family=Bombardment+3D);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    font-family: "Special Elite", monospace;
    color: black;
    user-select: none;   /* Disables text highlighting. Individually removed later for to-do items */
    text-rendering: optimizeLegibility; /* For safari */
}
body,html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hides scrollbar across x-axis */
    background-color: #b9b9b9;
}
a {    /* Removes default styling for links, and React Links */
    text-decoration: none;
    color: inherit;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––– */


/* LANDING PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
    font-family: 'Bombardment 3D';
    font-size: 5em;
    font-weight: 100;
    letter-spacing: 0.1rem;
}
#activity {
    width: 500px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.0em;
    font-weight: 100;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 0rem;
    position: fixed;
    bottom: 0;
    left: calc(50vw - 250px - 35px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    margin: 5px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 5px double black;
}
#enter-name {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9em;
}
#player-name {
    font-family: 'Press Start 2P', cursive;
    height: 40px;
    border: 5px double black;
    border-radius: 7px;
    font-size: 1.0em;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 10px 20px 10px 20px;
}
#start-button, #start-game {
    font-family: 'bombardment';
    font-size: 1.1em;
    font-weight: 100;
    letter-spacing: 0.2rem;
    text-align: center;
	display: inline-block;
	margin: 5px;
    padding: 15px;
    background-color: lightgray;
    color: rgb(0, 0, 0);
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}
#start-game {
    font-size: 1.4em;
    height: 70px;
    width: 250px;
    padding: 10px 30px 10px 30px;
    align-self: center;
    justify-self: center;
}
#start-button:active, #start-game:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

#outer-cont {
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}
#landing-cont {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: repeat(4, 70px);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

/* BUILD YOUR BOARD/GAME LOOP
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#build-cont, #player-cont, #bot-cont {
    display: grid;
    grid-template-rows: 40px 1fr 40px;
    grid-template-columns: 500px;
    align-items: center;
    justify-items: center;
}
    .prompts {
        font-family: 'Press Start 2P', cursive;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 100;
        align-self: center;
        justify-self: center;
        color: rgb(0, 0, 0);
        border: 5px double black;
        display: inline-block;
        margin: 5px;
        padding: 20px 12px 20px 12px;
        background-color: lightgray;
        color: rgb(0, 0, 0);
        box-shadow: 0 .2em gray; 
    }
    #player-squares, #bot-squares {
        display: grid;
        grid-template-columns: repeat(10, 30px);
        grid-template-rows: repeat(10, 30px);
        gap: 3px;
        margin: 30px;
    }
        #player-squares, #bot-squares {
            padding: 17px;
            box-shadow: 0 15px 30px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #C4A484;
        }
        .square {
            border: 1px solid black;
            background-color: rgb(197, 197, 197);
            border-radius: 3px;
        }
        #bot-squares > .square:hover {
            border: 4px solid red;
        }
        #build-cont > #player-squares > .square:hover {
            border: 4px solid #5cdb95;
        }
    #restart-game {
        grid-column: 1/3;
    }
    .scores {
        font-family: 'Press Start 2P', cursive;
        justify-self: center;
        align-self: center;
        text-align: center;
        color: white;
        font-weight: 500;
        font-size: 1.2em;
        text-transform: uppercase;
    }


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#enter-name, #player-prompt { /* Typing effect */
    opacity: 0%;
    animation-fill-mode: forwards;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em; /* Adjust as needed */
    animation:
        typing 2.5s steps(30, end),
        cursor 1.0s step-end infinite;
    animation-delay: 1.0s;
}
#player-prompt {
    animation-delay: 0s;
}
h1 {
    opacity: 0;
    visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
        -webkit-animation-duration: 1.5s;
        -ms-animation-duration: 1.5s;
        -moz-animation-duration: 2.0s;
    animation-timing-function: cubic-bezier();
        -webkit-animation-timing-function: cubic-bezier();
}
#player-name, #start-button, #activity,
#player-squares, #bot-squares, .scores {
    opacity: 0;
    visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: 1.2s;
        -webkit-animation-duration: 1.2s;
        -ms-animation-duration: 1.2s;
        -moz-animation-duration: 1.4s;
    animation-timing-function: cubic-bezier();
        -webkit-animation-timing-function: cubic-bezier();
    animation-fill-mode: forwards;
}
h1 {
    animation-delay: 0s;
}
#player-squares, #bot-squares {
    animation-delay: 0.3s;
}
#player-name, #start-button, #activity, .scores {
    animation-delay: 1.4s;
        -webkit-animation-delay: 1.4s;
        -ms-animation-delay: 1.4s;
        -moz-animation-delay: 1.4s;
}
.scores {animation-name: slide-up}
#player-name {animation-name: slide-left}
#start-button {animation-name: slide-right}
#activity, #player-squares, #bot-squares {animation-name: grow-in}
h1 {animation-name: slide-down}
@keyframes slide-right {
    0% {
        opacity: 0%;
        transform: translateX(-100px);
        visibility: hidden;
    }
    100% {
        opacity: 100%;
        transform: translateX(0px);
        visibility: visible;
    }
}
@keyframes slide-left {
    0% {
        opacity: 0%;
        transform: translateX(100px);
        visibility: hidden;
    }
    100% {
        opacity: 100%;
        transform: translateX(0px);
        visibility: visible;
    }
}
@keyframes slide-down {
    0% {
        opacity: 0%;
        transform: translateY(-100px);
        visibility: hidden;
    }
    100% {
        opacity: 100%;
        transform: translate(0px);
        visibility: visible;
    }
}
@keyframes slide-up {
    0% {
        opacity: 0%;
        transform: translateY(100px);
        visibility: hidden;
    }
    100% {
        opacity: 100%;
        transform: translate(0px);
        visibility: visible;
    }
}
@keyframes fade-right {
    0% {
        opacity: 100%;
        transform: translateX(0);
        visibility: visible;
    }
    100% {
        opacity: 100%;
        transform: translateX(100px);
        visibility: hidden;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0%;
        visibility: hidden;
    }
    100% {
        opacity: 25%;
        visibility: visible;
    }
}
@keyframes fade-out {
    0% {
        opacity: 25%;
        visibility: hidden;
    }
    100% {
        opacity: 0%;
        visibility: visible;
    }
}
@keyframes grow-in {
    0% {
        scale: 0.8;
        opacity: 0%;
        visibility: hidden;
    }
    100% {
        scale: 1.0;
        opacity: 100%;
        visibility: visible;
    }
}
@keyframes typing {
    0% {
        opacity: 100%;
        width: 0;
    }
    100% {
        opacity: 100%;
        width: 100%;
    }
}
@keyframes cursor {
    0%, 100% { 
        opacity: 100%;
    }
    /* 50% {
        opacity: 100%;
        border-color: rgb(0, 0, 0);
    } */
}